body {
  color: black;
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Todo-Item:hover .trash-icon {
  display: block;
}
h5,
span {
  display: inline-block;
  vertical-align: middle;
}
